############################
# Dependencies
############################
node_modules/

############################
# Build output
############################
dist/
build/
.out/
.next/

############################
# Environment variables
############################
.env
.env.*
!.env.example

############################
# Logs
############################
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

############################
# OS / Editor junk
############################
.DS_Store
Thumbs.db

.vscode/
.idea/

############################
# TypeScript
############################
*.tsbuildinfo

############################
# Caches
############################
.cache/
